.custom-slider-track {
  position: relative;
}

.custom-slider-track::before {
  content: none !important;
}

.meal-layer-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 400px;
}

.meal-layer-base {
  position: absolute;
  top: 0;
  left: 0;
}

.meal-layer-circle {
  z-index: 1;
}

.meal-layer {
  z-index: 2;
}

.background-theme {
  background-size: 38px 38px;
  background-repeat: repeat;
}

.background-theme.baby {
  background-color: #fffDe0;
  background-position: 0 0,19px 19px;
  background-image:
    radial-gradient(#fee6bf 0.9500000000000001px, transparent 0.9500000000000001px),
    radial-gradient(#fee6bf 0.9500000000000001px, #fffDe0 0.9500000000000001px);
}


.background-theme.mommy {
  background-color: #7f67af;
  background-position: 0 0,19px 19px;
  background-image:
    radial-gradient(#8e75be 0.9500000000000001px, transparent 0.9500000000000001px),
    radial-gradient(#8e75be 0.9500000000000001px, #7f67af 0.9500000000000001px);
}
