@import "tailwindcss";

html,
body {
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  background-color: #FEFADF;
}

.custom-slider-track {
  background-color: #C5DCE0 !important;
  position: relative;
}

.custom-slider-track::before {
  content: none !important;
}

.meal-layer-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.meal-layer-base {
  position: absolute;
  top: 0;
  left: 0;
}

.meal-layer-circle {
  z-index: 1;
}

.meal-layer {
  z-index: 2;
}
